* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  header{
    height: 100px;
  }


.titolo{
    font-size: 50px;
    font-family: 'Roboto', 
    sans-serif;
    vertical-align: top;
  }


body{
    background-color: rgba(235, 235, 235, 0.568);
  }

  header{
    background-color: white;
  }

.contenitore{
  background-color: white;
  width: 75%;
  height: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
}

.spazio{
  padding-left: 50px;
  padding-top: 15px;
}

.check{
  color:rgb(17, 102, 17);
  ;
}

.cross{
  color: red;
}

.cross:after{
  content:"\2717" ;
}

.check:after {
  content: "\2713";
}

h4{
  display: inline-block;
}

.task{
  border-radius: 5px;
  background-color: cornflowerblue;
  color: white;
  padding: 10px;
  margin: 10px;
}

.section{
  border-radius: 5px;
  color: rgba(150, 150, 150, 0.5);
  background-color: white;
  padding: 10px;
  margin: 10px;
}

li{
  list-style-type:none;
  padding: 20px;
  
}

/* Colori bottoni ed etichette */
.blu{
  border-radius: 10px;
  background-color: cornflowerblue;
  color: white;
  font-size: 12px;
  padding: 7px;
 
}

.grigio{
  border-radius: 10px;
  color: rgba(150, 150, 150, 0.5);
  background-color: white;
  font-size: 12px;
  padding: 7px;
}
.viola{
  border-radius: 10px;
  background-color: blueviolet;
  color: white;
  font-size: 12px;
  padding: 7px;
}

.verde{
  border-radius: 10px;
  background-color: rgb(5, 109, 78);
  color: white;
  font-size: 12px;
  padding: 7px;
}

.arancione{
  border-radius: 10px;
  background-color: orange;
  color: white;
  font-size: 12px;
  padding: 7px;
}

.fucsia{
  border-radius: 10px;
  background-color: orchid;
  color: white;
  font-size: 12px;
  padding: 7px;
}

.giallo{
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(102, 160, 9, 0.349);
  color: white;
  font-size: 12px;
  padding: 7px;
}

